@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/*custom theme*/
@theme {
  --color-expense: #7e69ab;
  --color-expense-light: #9b87f5;
  --color-expense-dark: #6959a5;
}

* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}